In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.options.mode.chained_assignment = None
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("white")

In [2]:
dftrain = pd.read_csv("./input/train_sample.csv")
dftrain.describe()

,ip,app,device,os,channel,is_attributed
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000
mean,91255.879670,12.04788,21.771250,22.818280,268.832460,0.002270
std,69835.553661,14.94150,259.667767,55.943136,129.724248,0.047591
min,9.000000,1.00000,0.000000,0.000000,3.000000,0.000000
25%,40552.000000,3.00000,1.000000,13.000000,145.000000,0.000000
50%,79827.000000,12.00000,1.000000,18.000000,258.000000,0.000000
75%,118252.000000,15.00000,1.000000,19.000000,379.000000,0.000000
max,364757.000000,551.00000,3867.000000,866.000000,498.000000,1.000000

In [3]:

dftrain=dftrain.replace("NaN","0")
dftrain.head(5)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [4]:
print ('Good luck')

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import os
os.environ['OMP_NUM_THREADS'] = '4'
import gc

path = './input/'
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }
print('load train....')

# we save only day 9
train_df = pd.read_csv(path+"train_sample.csv", dtype=dtypes, skiprows = range(1, 10000), usecols=['ip','app','device','os', 'channel', 'click_time', 'is_attributed'])
print('load test....')

test_df = pd.read_csv(path+"test.csv", dtype=dtypes, usecols=['ip','app','device','os', 'channel', 'click_time', 'click_id'])
len_train = len(train_df)
train_df=train_df.append(test_df)
del test_df; gc.collect()
print('hour, day, wday....')
train_df['hour'] = pd.to_datetime(train_df.click_time).dt.hour.astype('uint8')
train_df['day'] = pd.to_datetime(train_df.click_time).dt.day.astype('uint8')
train_df['wday']  = pd.to_datetime(train_df.click_time).dt.dayofweek.astype('uint8')
print('grouping by ip-day-hour combination....')
dftrain.head(5)

gp = train_df[['ip','day','hour','channel']].groupby(by=['ip','day','hour'])[['channel']].count().reset_index().rename(index=str, columns={'channel': 'qty'})
train_df = train_df.merge(gp, on=['ip','day','hour'], how='left')
del gp; gc.collect()

print('group by ip-app combination....')
gp = train_df[['ip','app', 'channel']].groupby(by=['ip', 'app'])[['channel']].count().reset_index().rename(index=str, columns={'channel': 'ip_app_count'})
train_df = train_df.merge(gp, on=['ip','app'], how='left')
del gp; gc.collect()
print('group by ip-app-os combination....')
gp = train_df[['ip','app', 'os', 'channel']].groupby(by=['ip', 'app', 'os'])[['channel']].count().reset_index().rename(index=str, columns={'channel': 'ip_app_os_count'})
train_df = train_df.merge(gp, on=['ip','app', 'os'], how='left')
del gp; gc.collect()
print("vars and data type....")
train_df['qty'] = train_df['qty'].astype('uint16')
train_df['ip_app_count'] = train_df['ip_app_count'].astype('uint16')
train_df['ip_app_os_count'] = train_df['ip_app_os_count'].astype('uint16')
print("label encoding....")
from sklearn.preprocessing import LabelEncoder
train_df[['app','device','os', 'channel', 'hour', 'day', 'wday']].apply(LabelEncoder().fit_transform)
print ('final part of preparation....')
test_df = train_df[len_train:]#testing  data
train_df = train_df[:len_train]#training data
y_train = train_df['is_attributed'].values#label of training data
train_df.drop(['click_id', 'click_time','ip','is_attributed'],1,inplace=True)

print ('neural network....')

Good luck
load train....
load test....
hour, day, wday....
grouping by ip-day-hour combination....
group by ip-app combination....
group by ip-app-os combination....
vars and data type....
label encoding....
final part of preparation....
neural network....

In [5]:
train_df.head(100)

,app,channel,device,os,hour,day,wday,qty,ip_app_count,ip_app_os_count
0,3,137,1,19,11,7,1,1,36,7
1,3,409,1,22,10,8,2,10,13165,598
2,2,237,1,8,8,8,2,1,53,1
3,18,121,1,19,3,7,1,1,194,30
4,1,137,1,19,4,8,2,1,11,3
5,3,280,1,18,2,8,2,2,62,4
6,12,140,1,9,17,7,1,2,3,1
7,8,145,1,10,13,8,2,13,943,51
8,27,122,1,30,5,8,2,1,1,1
9,3,280,1,19,16,8,2,1,30,12
10,1,101,1,13,2,8,2,1,18,3
11,29,101,1,10,15,9,3,1,5,1
12,26,121,1,13,14,7,1,3,35,6
13,12,205,1,22,15,8,2,2,862,31
14,19,213,33,29,14,8,2,1,1,1
15,12,178,1,9,23,6,0,1,160,4
16,12,259,1,32,1,8,2,1,122,4
17,9,466,1,9,3,9,3,2,38,1
18,18,121,1,42,1,8,2,1,30,1
19,12,178,1,13,13,7,1,5,4535,1073
20,9,134,1,9,23,6,0,2,170,5
21,12,259,1,16,19,8,2,1,1,1
22,8,145,1,31,3,8,2,1,13,1
23,23,153,1,19,11,8,2,3,439,101
24,18,107,1,12,3,9,3,1,1,1
25,2,401,1,19,13,9,3,1,1874,510
26,3,280,1,10,6,9,3,1,1,1
27,8,140,1,13,11,9,3,1,1,1
28,2,219,1,19,14,7,1,1,1,1
29,12,19,1,18,4,8,2,1,231,19
...,...,...,...,...,...,...,...,...,...,...
70,5,377,1,47,12,8,2,1,5,1
71,9,442,1,19,7,8,2,1,42,3
72,3,137,2,19,11,7,1,1,1,1
73,2,237,1,19,3,9,3,1,231,63
74,12,19,1,19,10,8,2,1,38,17
75,18,107,1,19,1,9,3,1,88,4
76,3,480,1,17,7,9,3,1,190,4
77,9,258,2,70,18,7,1,1,402,1
78,15,480,1,23,3,9,3,1,26,2
79,26,477,1,32,4,9,3,4,311,1
80,3,424,1,13,8,9,3,1,19,8
81,12,259,1,19,13,8,2,2,1209,230
82,3,280,1,18,0,8,2,1,40,4
83,13,477,1,17,6,7,1,1,1,1
84,3,452,1,13,4,7,1,1,241,27
85,21,232,2,70,10,9,3,1,19,1
86,13,400,1,13,12,9,3,3,2,1
87,64,459,1,40,18,8,2,1,1,1
88,9,234,1,19,0,9,3,3,1748,453
89,1,137,1,18,2,8,2,1,1,1
90,28,135,1,13,12,9,3,2,5,1
91,15,315,1,22,23,8,2,1,14,2
92,2,477,1,19,7,9,3,1,11,5
93,15,265,1,20,18,7,1,1,56,3
94,3,452,1,20,13,7,1,4,986,15
95,9,445,1,19,12,7,1,1,1,1
96,2,452,1,47,1,9,3,1,1,1
97,23,153,1,15,10,8,2,1,7,1
98,12,265,1,19,14,8,2,1,79,12
99,3,280,1,13,6,7,1,1,33,5

In [8]:
train_df.head(5)

from keras.layers import Input, Embedding, Dense, Flatten, Dropout, concatenate
from keras.layers import BatchNormalization, SpatialDropout1D
from keras.callbacks import Callback
from keras.models import Model
from keras.optimizers import Adam
'''
max_app = np.max([train_df['app'].max(), test_df['app'].max()])+1
max_ch = np.max([train_df['channel'].max(), test_df['channel'].max()])+1
max_dev = np.max([train_df['device'].max(), test_df['device'].max()])+1
max_os = np.max([train_df['os'].max(), test_df['os'].max()])+1
max_h = np.max([train_df['hour'].max(), test_df['hour'].max()])+1
max_d = np.max([train_df['day'].max(), test_df['day'].max()])+1
max_wd = np.max([train_df['wday'].max(), test_df['wday'].max()])+1
max_qty = np.max([train_df['qty'].max(), test_df['qty'].max()])+1
max_c1 = np.max([train_df['ip_app_count'].max(), test_df['ip_app_count'].max()])+1
max_c2 = np.max([train_df['ip_app_os_count'].max(), test_df['ip_app_os_count'].max()])+1
def get_keras_data(dataset):
    X = {
        'app': np.array(dataset.app),
        'ch': np.array(dataset.channel),
        'dev': np.array(dataset.device),
        'os': np.array(dataset.os),
        'h': np.array(dataset.hour),
        'd': np.array(dataset.day),
        'wd': np.array(dataset.wday),
        'qty': np.array(dataset.qty),
        'c1': np.array(dataset.ip_app_count),
        'c2': np.array(dataset.ip_app_os_count)
    }
    return X
train_df = get_keras_data(train_df)

emb_n = 50
dense_n = 1000
in_app = Input(shape=[1], name = 'app')
emb_app = Embedding(max_app, emb_n)(in_app)
in_ch = Input(shape=[1], name = 'ch')
emb_ch = Embedding(max_ch, emb_n)(in_ch)
in_dev = Input(shape=[1], name = 'dev')
emb_dev = Embedding(max_dev, emb_n)(in_dev)
in_os = Input(shape=[1], name = 'os')
emb_os = Embedding(max_os, emb_n)(in_os)
in_h = Input(shape=[1], name = 'h')
emb_h = Embedding(max_h, emb_n)(in_h) 
in_d = Input(shape=[1], name = 'd')
emb_d = Embedding(max_d, emb_n)(in_d) 
in_wd = Input(shape=[1], name = 'wd')
emb_wd = Embedding(max_wd, emb_n)(in_wd) 
in_qty = Input(shape=[1], name = 'qty')
emb_qty = Embedding(max_qty, emb_n)(in_qty) 
in_c1 = Input(shape=[1], name = 'c1')
emb_c1 = Embedding(max_c1, emb_n)(in_c1) 
in_c2 = Input(shape=[1], name = 'c2')
emb_c2 = Embedding(max_c2, emb_n)(in_c2) 
fe = concatenate([(emb_app), (emb_ch), (emb_dev), (emb_os), (emb_h), 
                 (emb_d), (emb_wd), (emb_qty), (emb_c1), (emb_c2)])
s_dout = SpatialDropout1D(0.2)(fe)
x = Flatten()(s_dout)
x = Dropout(0.2)(Dense(dense_n,activation='relu')(x))
x = Dropout(0.2)(Dense(dense_n,activation='relu')(x))
outp = Dense(1,activation='sigmoid')(x)
model = Model(inputs=[in_app,in_ch,in_dev,in_os,in_h,in_d,in_wd,in_qty,in_c1,in_c2], outputs=outp)

batch_size = 20000
epochs = 2
exp_decay = lambda init, fin, steps: (init/fin)**(1/(steps-1)) - 1
steps = int(len(train_df) / batch_size) * epochs
lr_init, lr_fin = 0.001, 0.0001
lr_decay = exp_decay(lr_init, lr_fin, steps)
optimizer_adam = Adam(lr=0.001, decay=lr_decay)
model.compile(loss='binary_crossentropy',optimizer=optimizer_adam,metrics=['accuracy'])

model.summary()

model.fit(train_df, y_train, batch_size=batch_size, epochs=2, shuffle=True, verbose=2)
del train_df, y_train; gc.collect()
model.save_weights('dl_support.h5')

sub = pd.DataFrame()
sub['click_id'] = test_df['click_id'].astype('int')
test_df.drop(['click_id', 'click_time','ip','is_attributed'],1,inplace=True)
test_df = get_keras_data(test_df)

print("predicting....")
sub['is_attributed'] = model.predict(test_df, batch_size=batch_size, verbose=2)
del test_df; gc.collect()
print("writing....")
sub.to_csv('dl_support.csv',index=False)
'''

ModuleNotFoundError: No module named 'keras'