In [6]:
import pandas as pd
from pydoc import help
from scipy.stats.stats import pearsonr

In [3]:
NN_sub = pd.read_csv("nn.csv",header=None)
GBM_sub = pd.read_csv("GBM.csv",header=None)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
NN_sub.head()

          0              1
0  click_id  is_attributed
1         0   0.0016269246
2         1   0.0020738316
3         2   6.577087e-05
4         3   0.0005322532

In [11]:
GBM_sub[1:].head()

   0                      1
1  0    0.11931035753858325
2  1   0.025634857501578522
3  2  0.0014199062992056167
4  3    0.03054269154646259
5  4   0.006489986904700859

In [14]:
print (NN_sub[1][1:])

1             0.0016269246
2             0.0020738316
3             6.577087e-05
4             0.0005322532
5            4.2779116e-05
6             0.0003904021
7            0.00019628968
8             0.0013263411
9             0.0013065864
10           1.4398973e-06
11            0.0016110636
12            6.446612e-05
13           0.00017717607
14             0.008057337
15            5.645189e-05
16           4.7410056e-05
17            0.0047647646
18           4.7410056e-05
19            0.0024413595
20           0.00018209519
21           5.0456518e-05
22             0.002157226
23           0.00042682645
24          0.000117442396
25            5.573319e-06
26           0.00057417265
27            0.0004038483
28           0.00020008997
29           1.8920153e-06
30           4.4860604e-05
                 ...
18790440         0.0139284
18790441       0.000448136
18790442        0.00200019
18790443       2.90184e-05
18790444        0.00015504
18790445        0.00093591
18790446       5.46835e-05
18790447       5.34737e-05
18790448       2.59589e-05
18790449        0.00043507
18790450       0.000139632
18790451       8.71816e-06
18790452       0.000337567
18790453        1.0037e-05
18790454        0.00133976
18790455        6.6924e-06
18790456        0.00359842
18790457       0.000997731
18790458        0.00211258
18790459       0.000553365
18790460       1.22385e-06
18790461        0.00127249
18790462       3.09698e-05
18790463       5.62437e-05
18790464       0.000133216
18790465        0.00322822
18790466       2.00245e-06
18790467       0.000255778
18790468        0.00228085
18790469       3.05462e-06
Name: 1, Length: 18790469, dtype: object

In [31]:
import numpy as np
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from scipy.special import expit, logit
from sklearn.metrics import roc_auc_score
#df = pd.DataFrame({'A':NN_sub[1][1:],'B':GBM_sub[1][1:]})
#print (df)
A=[]
B= []
for val in NN_sub[1][1:]:
    #print (val)
    A.append(float(val))
for val in GBM_sub[1][1:]:
    #print (val)
    B.append(float(val))
df = pd.DataFrame({'A':A,'B':B})
print ('done')

done

In [32]:
df['A'].corr(df['B'])

0.44292465768618006